<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
 
  <h2>Add User</h2>
 
  <form #userForm='ngForm' (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name</label>
      <input 
        type="text" 
        [(ngModel)] = 'user.firstName' 
        [ngClass] = "{'is-invalid': userFirstName.errors && userFirstName.touched}"
        class="form-control" 
        name="firstName"
        #userFirstName = "ngModel"
        requiered 
        minlength = "2"
        >
      <div [hidden] = '!userFirstName.errors?.requiered'
        class="invalid-feedback">
        First name requiered
      </div>
      <div [hidden] = '!userFirstName.errors?.minlength'
        class="invalid-feedback">
        Must be at least 2 charachters
      </div>
    </div>
    
    
    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)] = 'user.lastName' type="text" class="form-control" name="lastName">
    </div>
    <div class="form-group">
      <label>email</label>
      <input [(ngModel)] = 'user.email' type="text" class="form-control" name="email">
    </div>

    <button  [disabled]="!userForm.form.valid" class="btn btn-block mb-3">Add New User</button>
  </form>
</div>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
    <h3>{{ user.firstName }} {{ user.lastName }}
      <small *ngIf="user.email">
        <button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm">
          <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
        </button>
      </small>
    </h3>
    <ul class="list-group" *ngIf="!user.hide && user.email">
      <li class="list-group-item">Age: {{ user.age }}</li>
      <li class="list-group-item">Email: {{ user.email }}</li>

      <li class="list-group-item">Joined: {{ user.registered | date }}</li>
    </ul>
  </li>
</ul>

<h4 *ngIf="users?.length == 0">No Users Found</h4>

<h4 *ngIf="!loaded">Loading Users...</h4>